/mysql/bin/*
/mysql/docs/*
/mysql/include/*
/mysql/lib/*
/mysql/share/*
/ChocAnServerApplication/nbproject/private/
/ChocAnServerApplication/dist/
/ChocAnServerApplication/build/
/Project ChocAn Structs/nbproject/private/
/ProjectChocAnStructs/nbproject/private/
/ChocAnEmployeeTerminalApplication/nbproject/private/
/ProjectChocAnStructs/build/
/ProjectChocAnStructs/dist/
/ChocAnStructs/nbproject/private/
/ChocAnStructs/build/
/ChocAnStructs/dist/
mysql/data/DESKTOP-UAU64OS.err
mysql/data/DESKTOP-UAU64OS.pid
mysql/data/ibdata1
mysql/data/ib_logfile0
mysql/data/ib_buffer_pool
mysql/data/DESKTOP-UAU64OS.err
mysql/data/ib_buffer_pool
mysql/data/ib_logfile0
mysql/data/ibdata1
