/mysql/bin/*
/mysql/docs/*
/mysql/include/*
/mysql/lib/*
/mysql/share/*
/ChocAnServerApplication/nbproject/private/
/ChocAnServerApplication/dist/
/ChocAnServerApplication/build/
/Project ChocAn Structs/nbproject/private/
/ProjectChocAnStructs/nbproject/private/
/ChocAnEmployeeTerminalApplication/nbproject/private/